[package]
name = "control_core"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.98"
axum = "0.8.4"
ethercat_hal = { path = "../ethercat-hal" }
ethercrab = "0.6"
interfaces = "0.0.9"
serde = "1.0.219"
serde_json = "1.0.140"
serialport = "4.7.1"
smol = "2.0.2"
socketioxide = "0.17.1"
uom = "0.36.0"
bitvec = { version = "1.0.1", features = ["alloc"] }
crc = "3.3.0"
serial = "0.4.0"
tracing = "0.1.41"
erased-serde = "0.4.6"

[target.'cfg(unix)'.dependencies]
libc = "0.2.172"

[dev-dependencies]
approx = "0.5.1"
textplots = "0.8"
