name: Nix CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  NIX_PATH: nixpkgs=channel:nixos-25.05

jobs:
  electron:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - uses: nixbuild/nix-quick-install-action@v34
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-

      - name: Nix Version
        run: nix --version

      - name: Build Electron in Nix
        run: |
          nix-build -E '
            with import <nixpkgs> {};
            callPackage ./nixos/packages/electron.nix {}
          '
